# BlenderMCP core dependencies
websockets>=10.0
websocket-client>=1.8.0
websocket-server>=0.6.1
python-dotenv>=1.0.1
aiohttp>=3.9.3
pyyaml>=6.0.2
pytest>=8.3.5
pytest-mock>=3.14.0
pytest-asyncio>=0.25.3

# development
black>=21.0; python_version >= "3.6"
flake8>=3.9.0

# MCP
asyncio>=3.4.3
jsonschema>=4.17.3

# web
requests>=2.31.0
simplejson>=3.19.2

# 实用工具
tqdm>=4.66.2
